{% extends "html/base.html" %}

{% load static i18n %}
{% block title %}O Nama - Frizerski Salon Jelena{% endblock %}

{% block content %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner-content">
              <h2 style="color:  #2a2a2a">O Našem Salonu</h2>
             <!--<span></span>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** About Area Starts ***** -->
    <div class="about-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="left-image">
              <img src="{% static 'images/usluge1.jpg' %}"/>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-content">
              <h4>O Nama &amp; Našim Vještinama</h4>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore.</span>
              <div class="quote">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiuski smod kon tempor incididunt ut labore.</p>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
              </p>
              <ul>
                <li>
                  <a href="https://www.facebook.com/frizerski.studio.jelena/?locale=hr_HR"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/jelenafrizerskisalon/"><i class="fa fa-instagram"></i></a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** About Area Ends ***** -->
    <!-- ***** Our Team Area Starts ***** -->
    <section class="our-team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-heading">
              <h2>Naš Tim</h2>
              <span>Pažnja posvećena svakom detalju ono je što čini naš frizerski salon jedinstvenim u odnosu na druge..️</span>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="team-item">
              <div class="thumb">
                <div class="hover-effect">
                  <div class="inner-content">
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <img src="{% static 'images/avatar1.jpg' %}" />
              </div>
              <div class="down-content">
                <h4>Ime Prezime</h4>
                <span>Titula</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="team-item">
              <div class="thumb">
                <div class="hover-effect">
                  <div class="inner-content">
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <img src="{% static 'images/avatar2.jpg' %}" />
              </div>
              <div class="down-content">
                <h4>Ime Prezime</h4>
                <span>Titula</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="team-item">
              <div class="thumb">
                <div class="hover-effect">
                  <div class="inner-content">
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <img src="{% static 'images/avatar3.jpg' %}" />
              </div>
              <div class="down-content">
                <h4>Ime Prezime</h4>
                <span>Titula</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Our Team Area Ends ***** -->
    <!-- ***** Services Area Starts ***** -->
    <section class="our-services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-heading">
              <h2>Naše Usluge</h2>
              <span>Naša predanost savršenstvu u svakom detalju čini naše usluge posebnima i drugačijima od ostalih.</span>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-item">
              <h4>Šminkanje</h4>
              <p>
                Lorem ipsum dolor sit amet, consecteturti adipiscing elit, sed do eiusmod temp incididunt ut labore, et dolore quis ipsum suspend.
              </p>
              <img src="{% static 'images/sminkanje.jpg' %}" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-item">
              <h4>Šišanje</h4>
              <p>
                Lorem ipsum dolor sit amet, consecteturti adipiscing elit, sed do eiusmod temp incididunt ut labore, et dolore quis ipsum suspend.
              </p>
              <img src="{% static 'images/sisanje.jpg' %}" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-item">
              <h4>Farbanje</h4>
              <p>
                Lorem ipsum dolor sit amet, consecteturti adipiscing elit, sed do eiusmod temp incididunt ut labore, et dolore quis ipsum suspend.
              </p>
              <img src="{% static 'images/farbanje.jpg' %}" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Services Area Ends ***** -->

{% endblock %}
