{% extends "html/base.html" %}

{% load static i18n %}

{% block title %}Naslovnica - Frizerski Salon Jelena{% endblock %}
{% block content %}
  <!-- ***** Header Area End ***** -->
  <!-- ***** Main Banner Area Start ***** -->
  <div class="main-banner" id="top">
    <div class="container-fluid">
      <div class="row">



        <div class="col-lg-6">
          <div class="left-content">
            <div class="thumb" style="position: relative;">
              {% for obavijest in obavijesti %} <!-- Limit to 3 obavijesti -->
                <div class="inner-content inner-obavijest" id="obavijest-{{ forloop.counter }}">
                  <h4 style="right: 10px; z-index: 1">{{ obavijest.naslov }}</h4>
                  <span>{{ obavijest.pod_naslov }}</span>
                  <div class="main-border-button">
                    {% if obavijest.url %}
                      <a href="{{ obavijest.url }}">PROČITAJ VIŠE -></a>
                    {% else %}
                      <a href="{% url 'obavijest' obavijest.pk %}">PROČITAJ VIŠE -></a>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
                <img src="{% static 'images/obavijest.jpg' %}" alt="" style="width: 100%; height: auto;" />
            </div>
          </div>
        </div>




        <div class="col-lg-6">
          <div class="right-content">
            <div class="row">
              <div class="col-lg-6">
                <div class="right-first-image">
                  <div class="thumb">
                    <div class="inner-content">
                      <h4>Žene</h4>
                      <span>Najbolje Frizure Za Žene</span>
                    </div>
                    <div class="hover-content">
                      <div class="inner">
                        <h4>Žene</h4>
                        <!--<p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>-->
                        <div class="main-border-button">
                          <a href="{% url 'zenska_galerija' %}">Saznaj Više</a>
                        </div>
                      </div>
                    </div>
                    <img src="{% static 'images/zenska.jpg' %}" />
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="right-first-image">
                  <div class="thumb">
                    <div class="inner-content">
                      <h4>Muškarci</h4>
                      <span>Najbolje Frizure Za Muškarce</span>
                    </div>
                    <div class="hover-content">
                      <div class="inner">
                        <h4>Muškarci</h4>
                        <!--<p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>-->
                        <div class="main-border-button">
                          <a href="{% url 'muska_galerija' %}">Saznaj Više</a>
                        </div>
                      </div>
                    </div>
                    <img src="{% static 'images/muski.jpg' %}" />
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="right-first-image">
                  <div class="thumb">
                    <div class="inner-content">
                      <h4>Djeca</h4>
                      <span>Najbolje Dječje Frizure</span>
                    </div>
                    <div class="hover-content">
                      <div class="inner">
                        <h4>Djeca</h4>
                        <!--<p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>-->
                        <div class="main-border-button">
                          <a href="{% url 'djecja_galerija' %}">Saznaj Više</a>
                        </div>
                      </div>
                    </div>
                    <img src="{% static 'images/djecja.jpg' %}" />
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="right-first-image">
                  <div class="thumb">
                    <div class="inner-content">
                      <h4>Naši produkti</h4>
                      <!--<span>Naši Produkti</span>-->
                    </div>
                    <div class="hover-content">
                      <div class="inner">
                        <h4>Naši produkti</h4>
                        <!--<p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>-->
                        <div class="main-border-button">
                          <a href="{% url 'produkti_galerija' %}">Saznaj više</a>
                        </div>
                      </div>
                    </div>
                    <img src="{% static 'images/produkt.jpg' %}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Men Area Ends ***** -->
  <!-- ***** Women Area Starts ***** -->
  <section class="section" id="women">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>Ženske Frizure</h2>
            <!--<span>Details to details is what makes Hexashop different from the other themes.</span>-->
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="women-item-carousel">
            <div class="owl-women-item owl-carousel">
              <div class="item">
                <div class="thumb">
                                    <!--<div class="hover-content">
                    <ul>
                      <li>
                        <a href="single-product.html"><i class="fa fa-eye"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-star"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-shopping-cart"></i></a>
                      </li>
                    </ul>
                  </div>
                  -->
                  <img src="{{ zenske_zadnje_slike.0.slika.url }}" alt="" />
                </div>
                <div class="down-content">
                  <h4>{{ zenske_zadnje_slike.0.ime }}</h4>
                  <span>{{ zenske_zadnje_slike.0.cijena }} €</span>
                  <ul class="stars">
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <!--<div class="hover-content">
                    <ul>
                      <li>
                        <a href="single-product.html"><i class="fa fa-eye"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-star"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-shopping-cart"></i></a>
                      </li>
                    </ul>
                  </div>
                  -->
                   <img src="{{ zenske_zadnje_slike.1.slika.url }}" alt="" />
                </div>
                <div class="down-content">
                  <h4>{{ zenske_zadnje_slike.1.ime }}</h4>
                  <span>{{ zenske_zadnje_slike.1.cijena }} €</span>
                  <ul class="stars">
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                                    <!--<div class="hover-content">
                    <ul>
                      <li>
                        <a href="single-product.html"><i class="fa fa-eye"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-star"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-shopping-cart"></i></a>
                      </li>
                    </ul>
                  </div>
                  -->
                  <img src="{{ zenske_zadnje_slike.2.slika.url }}" alt="" />
                </div>
                <div class="down-content">
                  <h4>{{ zenske_zadnje_slike.2.ime }}</h4>
                  <span>{{ zenske_zadnje_slike.2.cijena }} €</span>
                  <ul class="stars">
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                                    <!--<div class="hover-content">
                    <ul>
                      <li>
                        <a href="single-product.html"><i class="fa fa-eye"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-star"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-shopping-cart"></i></a>
                      </li>
                    </ul>
                  </div>
                  -->
                  <img src="{{ zenske_zadnje_slike.3.slika.url }}" alt="" />
                </div>
                <div class="down-content">
                  <h4>{{ zenske_zadnje_slike.3.ime }}</h4>
                  <span>{{ zenske_zadnje_slike.3.cijena }} €</span>
                  <ul class="stars">
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Women Area Ends ***** -->
  <!-- ***** Main Banner Area End ***** -->
  <!-- ***** Men Area Starts ***** -->
  <section class="section" id="men">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>Dječje Frizure</h2>
            <!--<span>Details to details is what makes Hexashop different from the other themes.</span>-->
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="men-item-carousel">
            <div class="owl-men-item owl-carousel">
              <div class="item">
                <div class="thumb">
                                    <!--<div class="hover-content">
                    <ul>
                      <li>
                        <a href="single-product.html"><i class="fa fa-eye"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-star"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-shopping-cart"></i></a>
                      </li>
                    </ul>
                  </div>
                  -->
                  <img src="{{ djecje_zadnje_slike.0.slika.url }}" alt="" />
                </div>
                <div class="down-content">
                  <h4>{{ djecje_zadnje_slike.0.ime }}</h4>
                  <span>{{ djecje_zadnje_slike.0.cijena }} €</span>
                  <ul class="stars">
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                                    <!--<div class="hover-content">
                    <ul>
                      <li>
                        <a href="single-product.html"><i class="fa fa-eye"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-star"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-shopping-cart"></i></a>
                      </li>
                    </ul>
                  </div>
                  -->
                  <img src="{{ djecje_zadnje_slike.1.slika.url }}" alt="" />
                </div>
                <div class="down-content">
                  <h4>{{ djecje_zadnje_slike.1.ime }}</h4>
                  <span>{{ djecje_zadnje_slike.1.cijena }} €</span>
                  <ul class="stars">
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                                    <!--<div class="hover-content">
                    <ul>
                      <li>
                        <a href="single-product.html"><i class="fa fa-eye"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-star"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-shopping-cart"></i></a>
                      </li>
                    </ul>
                  </div>
                  -->
                  <img src="{{ djecje_zadnje_slike.2.slika.url }}" alt="" />
                </div>
                <div class="down-content">
                  <h4>{{ djecje_zadnje_slike.2.ime }}</h4>
                  <span>{{ djecje_zadnje_slike.2.cijena }} €</span>
                  <ul class="stars">
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                                    <!--<div class="hover-content">
                    <ul>
                      <li>
                        <a href="single-product.html"><i class="fa fa-eye"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-star"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-shopping-cart"></i></a>
                      </li>
                    </ul>
                  </div>
                  -->
                  <img src="{{ djecje_zadnje_slike.3.slika.url }}" alt="" />
                </div>
                <div class="down-content">
                  <h4>{{ djecje_zadnje_slike.3.ime }}</h4>
                  <span>{{ djecje_zadnje_slike.3.cijena }} €</span>
                  <ul class="stars">
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Product Area Starts ***** -->
  <section class="section" id="kids">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>Naši Produkti</h2>
            <!--<span>Details to details is what makes Hexashop different from the other themes.</span>-->
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="kid-item-carousel">
            <div class="owl-kid-item owl-carousel">
              <div class="item">
                <div class="thumb">
                                    <!--<div class="hover-content">
                    <ul>
                      <li>
                        <a href="single-product.html"><i class="fa fa-eye"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-star"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-shopping-cart"></i></a>
                      </li>
                    </ul>
                  </div>
                  -->
                  <img src="{{ produkt_zadnje_slike.0.slika.url }}" alt="" />
                </div>
                <div class="down-content">
                  <h4>{{ produkt_zadnje_slike.0.ime }}</h4>
                  <span>{{ produkt_zadnje_slike.0.cijena }} €</span>
                  <ul class="stars">
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                                    <!--<div class="hover-content">
                    <ul>
                      <li>
                        <a href="single-product.html"><i class="fa fa-eye"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-star"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-shopping-cart"></i></a>
                      </li>
                    </ul>
                  </div>
                  -->
                  <img src="{{ produkt_zadnje_slike.1.slika.url }}" alt="" />
                </div>
                <div class="down-content">
                  <h4>{{ produkt_zadnje_slike.1.ime }}</h4>
                  <span>{{ produkt_zadnje_slike.1.cijena }} €</span>
                  <ul class="stars">
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                                    <!--<div class="hover-content">
                    <ul>
                      <li>
                        <a href="single-product.html"><i class="fa fa-eye"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-star"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-shopping-cart"></i></a>
                      </li>
                    </ul>
                  </div>
                  -->
                  <img src="{{ produkt_zadnje_slike.2.slika.url }}" alt="" />
                </div>
                <div class="down-content">
                  <h4>{{ produkt_zadnje_slike.2.ime }}</h4>
                  <span>{{ produkt_zadnje_slike.2.cijena }} €</span>
                  <ul class="stars">
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                                    <!--<div class="hover-content">
                    <ul>
                      <li>
                        <a href="single-product.html"><i class="fa fa-eye"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-star"></i></a>
                      </li>
                      <li>
                        <a href="single-product.html"><i class="fa fa-shopping-cart"></i></a>
                      </li>
                    </ul>
                  </div>
                  -->
                  <img src="{{ produkt_zadnje_slike.3.slika.url }}" alt="" />
                </div>
                <div class="down-content">
                  <h4>{{ produkt_zadnje_slike.3.ime }}</h4>
                  <span>{{ produkt_zadnje_slike.3.cijena }} €</span>
                  <ul class="stars">
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Kids Area Ends ***** -->
  <!-- ***** Explore Area Starts ***** -->
  <section class="section" id="explore">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-content">
            <h2>Istraži naše proizvode</h2>
            <span>Actyva je linija profesionalnih šampona talijanske tvrtke Kemon, namijenjena različitim potrebama kose i vlasišta. Svaki šampon iz ove linije formuliran je kako bi pružio specifičnu njegu, koristeći kombinaciju prirodnih sastojaka i napredne tehnologije.</span>
            <div class="quote">
              <i class="fa fa-quote-left"></i>
              <p>DODATI TEKST PO ZELJI</p>
            </div>
            <p>
              Kemonova Actyva linija nastoji spojiti znanost i prirodu, koristeći više od 40 sastojaka prirodnog podrijetla koji djeluju u sinergiji s najnovijim dostignućima kozmetičkih istraživanja. Profesionalni tretmani iz ove linije formulirani su kako bi poboljšali ljepotu kose i održali zdravlje vlasišta, pružajući vidljive rezultate odmah nakon upotrebe.
            </p>
            <div class="main-border-button">
              <a href="products.html">Istraži više</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-content">
            <div class="row">
              <div class="col-lg-6">
                <div class="leather">
                  <h4>ACTYVA</h4>
                  <span>colore brillante</span>
                  <br />
                  <span>SHAMPOO</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="first-image">
                  <img src="{% static 'images/explore_produkt.jpg' %}" alt="" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="second-image">
                  <img src="{% static 'images/explore_produkt1.jpg' %}" alt="" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="types">
                  <h4>ACTYVA</h4>
                  <span>linfa solare</span>
                  <br />
                  <span>SHAMPOO</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Explore Area Ends ***** -->
  <!-- ***** Social Area Starts ***** -->
  <section class="section" id="social">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Pratite nas na društvenim mrežama</h2>
            <p>
              Budite u toku s najnovijim vijestima, ponudama i inspiracijama – zapratite nas na našim društvenim mrežama i pridružite se našoj zajednici!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row images">
        <div class="col-2">
          <div class="thumb">
            <div class="icon">
              <a href="https://www.instagram.com/jelenafrizerskisalon/">
                <h6>Products</h6>
                <i class="fa fa-instagram"></i>
              </a>
            </div>
            <img src="{% static 'images/insta1.jpg' %}" alt="" />
          </div>
        </div>
        <div class="col-2">
          <div class="thumb">
            <div class="icon">
              <a href="https://www.facebook.com/frizerski.studio.jelena/?locale=hr_HR">
                <h6>Aesthetic</h6>
                <i class="fa fa-facebook"></i>
              </a>
            </div>
            <img src="{% static 'images/insta2.jpg' %}" alt="" />
          </div>
        </div>
        <div class="col-2">
          <div class="thumb">
            <div class="icon">
              <a href="https://www.instagram.com/jelenafrizerskisalon/">
                <h6>Brand</h6>
                <i class="fa fa-instagram"></i>
              </a>
            </div>
            <img src="{% static 'images/insta3.jpg' %}" alt="" />
          </div>
        </div>
        <div class="col-2">
          <div class="thumb">
            <div class="icon">
              <a href="https://www.facebook.com/frizerski.studio.jelena/?locale=hr_HR">
                <h6>Aesthetic</h6>
                <i class="fa fa-facebook"></i>
              </a>
            </div>
            <img src="{% static 'images/insta4.jpg' %}" alt="" />
          </div>
        </div>
        <div class="col-2">
          <div class="thumb">
            <div class="icon">
              <a href="https://www.instagram.com/jelenafrizerskisalon/">
                <h6>Fashion</h6>
                <i class="fa fa-instagram"></i>
              </a>
            </div>
            <img src="{% static 'images/insta5.jpg' %}" alt="" />
          </div>
        </div>
        <div class="col-2">
          <div class="thumb">
            <div class="icon">
              <a href="https://www.facebook.com/frizerski.studio.jelena/?locale=hr_HR">
                <h6>Aesthetic</h6>
                <i class="fa fa-facebook"></i>
              </a>
            </div>
            <img src="{% static 'images/insta6.jpg' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Social Area Ends ***** -->
  <!-- ***** Subscribe Area Starts ***** -->
  <div class="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
  <div class="section-heading">
    <h2>Naruči Se Putem E-Maila</h2>
          <span>Napiši nam svoje ime, frizuru i datum kada bi se htio naručiti</span>
        </div>

<form id="subscribe" action="{% url 'send_email' %}" method="post">
  {% csrf_token %}
  <div class="subscribe-container">
    <!-- Left Side -->
    <div>
      <fieldset>
        <input
          name="name"
          type="text"
          id="name"
          placeholder="Tvoje Ime"
          value="{{ name|default_if_none:'' }}"
          required
          style="width: 100%;"
        />
      </fieldset>
      <fieldset>
        <input
          name="broj_mobitela"
          type="text"
          id="broj_mobitela"
          placeholder="Broj Mobitela"
          value="{{ broj_mobitela|default_if_none:'' }}"
          required
          style="width: 100%;"
        />
      </fieldset>
      <fieldset>
        <textarea
          name="frizura"
          id="frizura"
          placeholder="Unesi ime frizure i detalje o frizuri"
          required
          rows="4"
          style="resize: both; width: 100%; margin-top: 10px;"
        >{{ frizura|default_if_none:'' }}</textarea>
      </fieldset>
    </div>

    <!-- Right Side -->
    <div>
      {% if error_message %}
        <p style="color: red; font-size: 14px;">{{ error_message }}</p>
      {% endif %}
      <fieldset>
        <input
          name="email"
          type="email"
          id="email"
          placeholder="Tvoja Email Adresa"
          value="{{ email|default_if_none:'' }}"
          required
          style="width: 100%;"
        />
      </fieldset>
      <fieldset>
        <input
          name="potvrda_email"
          type="email"
          id="potvrda_email"
          placeholder="Potvrda Email Adrese"
          required
          style="width: 100%;"
        />
      </fieldset>
<fieldset>
  <input
    name="datum"
    type="text"
    id="datum"
    value="Odaberi Datum"
    required
    style="width: 100%; color: gray;"
  />
</fieldset>
    </div>
    <!-- Send Button -->
       <div class="col-lg-2" >
          <fieldset>
            <button type="submit" id="form-submit" class="main-dark-button">
              <i class="fa fa-paper-plane"></i>
            </button>
          </fieldset>
        </div>
      </div>
</form>

<!-- Modal -->
<div id="emailModal1" class="modal1">
  <div class="modal-content1">
    <span class="close-btn1">&times;</span>
    <h2>Uspješno ste se naručili</h2>
    <p>Hvala što ste odabrali naš salon! Kontaktirat ćemo vas uskoro kako bismo potvrdili termin.</p>
  </div>
</div>
{% if email_sent %}
  <script>
    window.onload = function() {
      var modal = document.getElementById("emailModal1");
      var closeBtn = document.getElementsByClassName("close-btn1")[0];

      // Show the modal
      modal.style.display = "block";

      // Close the modal when the user clicks the close button
      closeBtn.onclick = function() {
        modal.style.display = "none";
      }

      // Close the modal when the user clicks anywhere outside the modal
      window.onclick = function(event) {
        if (event.target === modal) {
          modal.style.display = "none";
        }
      }
    }
  </script>
{% endif %}




    </div>

        <div class="col-lg-4">
          <div class="row">
            <div class="col-6">
              <ul>
                <li>
                  Lokacija Salona:
                  <br />
                  <span>Ul. Ljudevita Vukotinovića 2, 48260, Križevci</span>
                </li>
                <li>
                  Telefon:
                  <br />
                  <span>048 682 151</span>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ul>
                <li>
                  Radno vrijeme:
                  <br />
                  <span>07:00 - 19:00 Pon - Pet</span>
                  <span>07:00 - 15:00 Sub</span>
                </li>
                <li>
                  Email:
                  <br />
                  <span>frizerski.studio.jelena@gmail.com</span>
                </li>
                <li>
                  Social Media:
                  <br />
                  <span><a href="https://www.facebook.com/frizerski.studio.jelena/?locale=hr_HR">Facebook</a>, <a href="https://www.instagram.com/jelenafrizerskisalon/">Instagram</a></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var datumInput = document.getElementById("datum");

    // Ensure placeholder appears on page load if no value is set
    if (!datumInput.value || datumInput.value.trim() === "") {
      datumInput.value = "Odaberi Datum";
      datumInput.style.color = "gray";
    }

    // Handle focus (switch to date picker and open calendar immediately)
    datumInput.addEventListener("focus", function () {
      if (this.value === "Odaberi Datum") {
        this.value = "";
        this.type = "date";
        this.style.color = "black";

        // Trigger the calendar popup automatically
        setTimeout(() => {
          this.showPicker(); // This ensures the date picker opens immediately on focus
        }, 0);
      }
    });

    // Handle blur (restore placeholder if empty)
    datumInput.addEventListener("blur", function () {
      if (!this.value) {
        this.type = "text";
        this.value = "Odaberi Datum";
        this.style.color = "gray";
      }
    });
  });
</script>


<script>
document.addEventListener("DOMContentLoaded", function () {
  let index = 0;
  const contents = document.querySelectorAll(".inner-obavijest");
  const totalToShow = Math.min(3, contents.length); // Ensure we only cycle through 3 or less

  function showNextObavijest() {
    // Hide current
    contents.forEach((content, i) => {
      content.classList.remove("active");
      if (i === index) {
        content.classList.add("active");
      }
    });

    // Increment index and loop within range of 3
    index = (index + 1) % totalToShow;
  }

  // Initially show the first item
  showNextObavijest();

  // Change every 5 seconds
  setInterval(showNextObavijest, 5000);
});

</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const errorMessage = document.querySelector(".subscribe .section-heading + form p[style]");
    if (errorMessage) {
      const formSection = document.querySelector(".subscribe");
      if (formSection) {
        formSection.scrollIntoView({ behavior: "smooth" });
      }
    }
  });
</script>


{% endblock %}
