{% extends "html/base.html" %}

{% load static i18n %}

{% block title %}Obavijesti - Frizerski Studio Jelena{% endblock %}
{% block content %}
  <div class="obavijest">
    <section class="section" id="explore">
      <div class="container">
        <div class="row">
          {% if obavijest.slika %}
            <div class="col-lg-6">
              <div class="left-content">
                <div class="obavijest_naslovi">
                <h2 style="font-size: 50px">{{ obavijest.naslov }}</h2>
                <h5 class="obavijest_podnaslov">{{ obavijest.pod_naslov }}</h5>
                </div>
                <p>{{ obavijest.tekst }}</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-content">
                <div class="single-image">
                  <img src="{{ obavijest.slika.url }}"
                       style="width: 100%;
                              height: auto"
                       alt="Obavijest Slika" />
                </div>
              </div>
            </div>
          {% else %}
            <div class="col-lg-10">
              <div class="left-content obavijest_naslovi">
                <h2 style="font-size: 50px">{{ obavijest.naslov }}</h2>
                <h5 class="obavijest_podnaslov">{{ obavijest.pod_naslov }}</h5>
              </div>
              <div class="left-content content">
                <p>{{ obavijest.tekst }}</p>
              </div>
            </div>
        {% endif %}
      </div>
    </div>
  </section>
</div>
{% endblock %}
